@model IEM.Business.Models.ExpenditureModel

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit Expense Info</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ExpID" class="form-control" type="hidden" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select class="form-select" asp-for="Category">
                    <option selected>Select Category</option>
                    <option asp-for="Category" value="Education">Education</option>
                    <option asp-for="Category" value="Utilities">Utilities</option>
                    <option asp-for="Category" value="Transportaion">Transportaion</option>
                    <option asp-for="Category" value="Food & Grocery">Food & Grocery</option>
                    <option asp-for="Category" value="Medical & Healthcare">Medical & Healthcare</option>
                    <option asp-for="Category" value="Miscellaneous">Miscellaneous</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <input asp-for="UserID" class="form-control" type="hidden" />
            <br />
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="link-danger" asp-action="Index" asp-route-userID="@ViewBag.UserID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
